<!doctype html>
<html>
<head>
<title>JQuery Cycle Plugin - Example Slideshow</title>
<style type="text/css">
.slideshow { height: 90px; width: 97px; margin: auto }
.slideshow img { padding: 10px; border: 1px solid #ccc; background-color: #eee; }
</style>
<!-- include jQuery library -->

<!-- include Cycle plugin -->
<script type="text/javascript" src="<?=base_url()?>js/jquery.cycle.all.min.js"></script>

<!--  initialize the slideshow when the DOM is ready -->
<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'scrollLeft', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
                activePagerClass: 'activeSlide',
                end: function() {
                    var div_id = $(".slideshow > img[id^='machine']:visible").attr("id");
                    //alert(div_id);
                    window.location = '<?=base_url()?>quiz/generate_quiz_by_machine/'+div_id;
                    return false;
                }
	});
});
</script>
</head>
<body>
	<div class="slideshow">
            <img id="machine_English_2" src="<?=base_url()?>images/category_icons/brownA.png" />
            <img id="machine_English_3" src="<?=base_url()?>images/category_icons/brownH.png"  />
            <img id="machine_Movies_2" src="<?=base_url()?>images/category_icons/blueA.png"  />
            <img id="machine_Movies_3" src="<?=base_url()?>images/category_icons/blueH.png"  />
            <img id="machine_Music_2" src="<?=base_url()?>images/category_icons/redA.png"  />
            <img id="machine_Music_3" src="<?=base_url()?>images/category_icons/redH.png"  />
            <img id="machine_History_2" src="<?=base_url()?>images/category_icons/greenA.png" />
            <img id="machine_History_3" src="<?=base_url()?>images/category_icons/greenH.png"  />
            <img id="machine_Unknown_2" src="<?=base_url()?>images/category_icons/purpleA.png" />
            <img id="machine_Unknown_3" src="<?=base_url()?>images/category_icons/purpleH.png" />

	</div>
</body>
</html>
